<footer>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://www.xiaohongshu.com/user/profile/60cdcdde0000000001006cf1?xhsshare=CopyLink&appuid=60cdcdde0000000001006cf1&apptime=1674961961">
                            <span class="fa-stack fa-lg" style="color:black;">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-circle-user fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.linkedin.com/in/cherie-c-sun" style="color:black;">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://github.com/cheriecc" style="color:black;">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Cherie Sun © 2023 </p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<script src="{{ url_for('static', filename='js/jQuery.min.js')}}"></script>

<!--Font Awesome JavaScript-->
<script src="https://kit.fontawesome.com/123341cc15.js" crossorigin="anonymous"></script>

</body>
</html>