{% import "bootstrap/wtf.html" as wtf %}
{% include"header.html" %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ post.img_url }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ post.title }}</h1>
          <span class="subheading">{{ post.subtitle }}</span>
          <p>Posted by {{ post.author.name }} on {{ post.date }}</p>
        </div>
      </div>
    </div>
  </div>
</header>


<!--Post Content-->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ post.body|safe }}
                <hr>
                {% if current_user.id == 1: %}
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{ url_for('edit', post_id=post.id) }}">Edit Post</a>
                </div>
                {% endif %}

                <br>

                <!--Comments-->
                <ul class="comment-list">
                    {% for comment in post.comments: %}
                    <li>
                        <div class="comment-image">
                            <img src="{{ comment.commenter.email|gravatar }}" alt="profile image">
                        </div>
                        <div class="comment-text">
                            {{ comment.text|safe }}
                            <span class="date sub-text">{{ comment.commenter.name }}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <br>
                <!--comment box-->

                <p class="error-msg" style="font-size: 15px;">kindly note: you can browse this blog without logging in, however, you need to log on to leave your comment.</p>
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

            </div>
        </div>
    </div>
</article>

<hr>

{% include"footer.html" %}